.wid50pr{
    width: 50%;
}
.flLeft{
    float: left;
}
.dib{
    display: inline-block;
}
.tac{
    text-align: center;
}


.pre-header-buttons{

}
.pre-header{
    background-color: rgba(232, 229, 208, 0.43);
}
.pre-header-btn{
    padding-top: 13px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 40px;
    font-weight: bold;
    padding-bottom: 12px;
    color: #50646d;
}
.pre-header-btn:first-child{
    margin-left: 0;
}
.pre-header-btn:hover i{
    color: red;
}
.logo-main {
    font-size: 28px;
    font-weight: bold;
}
.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}
.menu-i{
    text-decoration: none;
    padding-right: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #33221c;
    white-space: nowrap;
}
.main-menu {
    padding-top: 53px;
}

.menu-i:hover{
    color: #ff6156;
}
.main-search-bg{
    background-image: url(../img/26732636684b1d0b67f7095d056b3b16.jpg);
    width: 100%;
    height: 420px;
    background-position: 50% bottom;
    position: absolute;
    background-size: cover;

}
.main-search-param-dd {
    display: none;

    position: absolute;
    background-color: #fffdee;
    width: 100%;
    left: 0;
    top: 60px;
    border-radius: 0 0 4px 4px;
    z-index: 20;
}
.main-search-block {
    /*display: inline-block;*/


    position: relative;

    cursor: pointer;
}
.main-search-box {
    text-align: center;
    padding-top: 160px;
}
.main-search-param-angle-up {
    position: absolute;
    top: 14px;
    right: 12px;
}
.main-search-param-angle-down {
    position: absolute;
    top: 26px;
    right: 12px;
}
.main-search-table td:first-child .main-search-param-box{
    border-radius: 4px 0 0 4px;
}
.main-search-table td:last-child  .main-search-param-box{
    border-radius: 0 4px 4px 0;
}

.main-search-table td:first-child .main-search-param-box{
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

}
.main-search-table td:last-child .main-search-param-box{

    border: 0;
}
.main-search-param-box{
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 16px;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.main-search-param-box:hover {
    background-color: rgb(245, 239, 230);
}

.main-search-block.opened .main-search-param-dd{
    display: block;
}

.main-search-param-dd-item {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.main-search-param-dd-item:hover{
    background-color: #463e38;
    color: #fff;
}
.main-search-param-dd-item:last-child{
    border-bottom: 0;
}
.main-search-block.opened .main-search-param-angle-up,
.main-search-block.opened .main-search-param-angle-down{
    color: #F44336;
}
.main-search-execute {
    height: 60px;
    background-color: #FFEB3B;
    width: 130px;
    border-radius: 4px;
    position: absolute;
    padding-top: 18px;
    box-sizing: border-box;
    right: 0;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
}

.main-search-execute:hover{
    background-color: #fff600;
}

.main-search-width-holder{
    position: relative;
}
.main-search-table{
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main-search-table td{
    padding: 0;
    border: 0;
}
.main-search-expand {
    color: #fff;
    height: 60px;
    background-color: rgba(96, 125, 139, 0.7);
    width: 190px;
    border-radius: 4px;
    position: absolute;
    padding-top: 19px;
    box-sizing: border-box;
    right: 150px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding-right: 5px;
}
.main-search-expand:hover {
    color: #fff600;
}
.pre-header-venues{
    float: right;
    color: #2196F3;
    background-color: aliceblue;
    padding-left: 20px;
    padding-right: 24px;
    margin: 0;
}
.pre-header-venues:hover{
    background-color: #dbffdb;
    color: #3e7cf4;
}
.pre-header-venues:hover i{
    color: #3e7cf4;
}
.venue-type-set-box{
    width: 100%;
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;
    height: 240px;
    position: relative;
}
.venue-type-set-image{
    width: 100%;
    border-radius: 4px 5px 5px 4px;
    height: 240px;
    position: absolute;
    background-size: cover;
    background-position: -60px 50%;
}

.venue-type-set-box[data-type="CONCERT_HALL"] .venue-type-set-image{
    background-image: url(../img/concert_hall_type.jpg);
}
.venue-type-set-box[data-type="THEATRE"] .venue-type-set-image{
    background-image: url(../img/theatre_type.jpg);
}
.venue-type-set-box[data-type="CLUB"] .venue-type-set-image{
    background-image: url(../img/club_type.jpg);
}
.venue-type-set-box[data-type="EXHIBITION_HALL"] .venue-type-set-image{
    background-image: url(../img/exhibition_hall_type.jpg);
}
.venue-type-set-box[data-type="CONFERENCE_HALL"] .venue-type-set-image{
    background-image: url(../img/conference_hall_type.jpg);
}
.venue-type-set-box[data-type="BAR"] .venue-type-set-image{
    background-image: url(../img/bar_type.jpg);
}

.main-search {
    height: 420px;
}
.site-content {
    background-color: #fdfcf8;
}
.venue-type-set-title {
    z-index: 10;
    color: #000;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 20px;
}
.venue-type-set-info {
    width: 50%;
    margin-left: 50%;
    background-color: rgba(255,255,255,1);
    z-index: 10;
    position: relative;
    height: 240px;
}
.venue-type-set-link {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #607D8B;
    margin-top: 2px;
}
.venue-type-set-link:hover{
    text-decoration: underline;
}
.venue-type-set-links {
    margin-top: 20px;
}
.f-hall-places-icon {
    background-image: url(../img/eh-chair-2.png);
    height: 29px;
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    width: 29px;
    background-color: #f7f7f7;
    border-radius: 5px;
    background-position: 7px 5px;
    vertical-align: middle;
}
.f-hall-places-count {
    display: inline-block;
}
.f-hall-image {
    height: 230px;
    background-size: cover;
    background-position: 50%;
    border-radius: 5px 5px 0 0;
}
.f-hall-info {
    background-color: #fff;
    min-height: 270px;
}
.f-hall-order {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    position: relative;
    border-top: 2px solid #98e63c;
}
.featured-block {
    background-color: #f7f7f7;
    margin-top: 50px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 30px;
}
.f-hall-title {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 17px;
    height: 60px;
}
.f-hall-venue {
    padding-left: 10px;
    font-size: 13px;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}
.f-hall-places {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px dashed #ddd;
    margin-top: 10px;
}

.f-hall-places-count {
    display: inline-block;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 16px;

}

.f-hall-metro-item{
    padding-left: 10px;
}

.f-hall-metro-circle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    font-family: arial,sans-serif;
    padding-top: 1px;
    box-sizing: border-box;
    display: inline-block;
}
.f-hall-metro-station {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #444;
}
.f-hall-from-metro{
    font-size: 11px;
    color: #777;
}
.f-hall-rent-price {
    width: 50%;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}
.f-hall-order-cta {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 40px;
    background-color: #98e63c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.f-hall-order-cta:hover {
    background-color: #a9f300;
}
.featured-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
}

.featured-menu-i {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0);
}
.featured-menu-i.selected {
    font-weight: 600;
    border-bottom: 2px solid red;
}
.featured-menu-i:hover {
    border-bottom: 1px solid red;
}
.featured-menu {
    margin-bottom: 50px;
}
.featured-row-more{
    margin: 0 auto;
    width: 290px;
    height: 60px;
    margin-top: 60px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 30px;
    padding-top: 17px;
    box-sizing: border-box;
    background-color: rgba(96, 125, 139, 0.13);
    margin-bottom: 50px;
    outline: 0;
    cursor: pointer;
}
.featured-row-more:hover{
    background-color: rgba(255, 246, 0, 0.13);
}
.uni-title{
    font-size: 40px;
    font-weight: 600;
}
.promo-block {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}
.featured-placement {
    position: absolute;
    right: 0;
    top: 19px;
    font-size: 12px;
    font-weight: 600;
    color: #2196F3;
    text-decoration: none;
}
.register-venue {
    background-color: #FFC107;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    padding-top: 7px;
    box-sizing: border-box;
    font-weight: 600;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 6px;
}
.register-venue:hover {
    background-color: #ffea00;
}

.empty{
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    height: 160px;
    padding-top: 72px;
    color: #ddd;

}
.devider {
    width: 100%;
    border-bottom: 3px dashed #ddd;
    margin-top: 50px;
    margin-bottom: 50px;
}
.subscription-sms-submit{
    background-color: #98e63c;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    padding-top: 7px;
    box-sizing: border-box;
    font-weight: 600;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 6px;
}
.subscription-sms-submit:hover {
    background-color: #a9f300;
}
.plus-7{
    font-size: 20px;
    font-family: arial,sans-serif;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}
.fw600{
    font-weight: 600;
}
.subscription-title{
    font-size: 16px;
    margin-bottom: 20px;
}
.social-icon {
    height: 60px;
    width: 60px;
    background-color: #f9f9f9;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    box-sizing: border-box;
    padding-top: 13px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.social-icon:hover{
    color: #fff;
}

.subscription-block{
    margin-top: 32px;
}

.social-vk:hover{
    background-color: #507299;
}
.social-fb:hover{
    background-color: #3b5998;
}
.social-tw:hover{
    background-color: #ffad1f;
}
.social-in:hover{
    background-color: #d62053;
}
.f-hall-quick-view {
    float: right;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 1px;
    line-height: 15px;
    color: #048df9;
    font-weight: 500;
    text-align: right;
    cursor: pointer;
}
.f-hall-quick-view:hover {
    color: #047adc;
    text-decoration: underline;
}
.service-owner-image{
    background-image: url(../img/depositphotos_13825192-Cute-young-business-woman-with.jpg);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    float: left;
    margin-bottom: 100px;
    margin-right: 40px;

}
.service-owner-name {
    margin-top: 240px;
    font-weight: 600;
}
.service-owner-text{
    padding-bottom: 110px;
}
.service-owner-sub{
    font-size: 13px;
}
.pre-footer {
    background-color: #3a505a;
    padding-top: 40px;
    padding-bottom: 40px;
}
a.pre-footer-link {
    color: #55d3fb;
    margin-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}
.pre-footer-link.pre-footer-feedback {
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}
a.pre-footer-link:hover {
    color: #98e63c;
}
.pre-footer-phone {
    font-family: arial,sans-serif;
    font-size: 20px;
    text-align: right;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.9px;
}
.pre-footer-phone-time{
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 4px;
}
.footer {
    background-color: #26353c;
    color: rgba(255, 255, 255, 0.53);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 13px;
}
.page-title{
    font-size: 30px;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}
.venue-images-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
}
.venue-image img {
    width: 100%;
}
.venue-image {
    float: left;
    width: 300px;
}
.venue-images-dot{
    width: 16px;
    display: inline-block;
    height: 16px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;

}
.venue-images-dots {
    position: absolute;
    z-index: 10;
    width: 300px;
    left: 0;
    text-align: center;
    bottom: 10px;

}
.venue-images-dot:hover{
    background-color: #fff;
}
.venue-images-dot.active{
    background-color: #ffea00;
}
.venue-box {
    background-color: #fff;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.venue-info {
    position: relative;
    padding-left: 320px;
    top: 0;
    /*padding-right: 20px;*/
    /*padding-top: 20px;*/
}
.venue-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-right: 130px;
}

a.venue-venue {
    font-size: 13px;
    text-decoration: none;
    color: #2196f3;
    font-weight: 600;
}
.venue-description {
    margin-top: 20px;
    margin-bottom: 20px;
}
.venue-box .f-hall-metro-item{
    padding: 0;
}
.venue-box .f-hall-order{
    margin-top: 60px;
}
.venue-box .f-hall-order-cta{
    right: 0;
}
.venue-box .f-hall-rent-price {
    font-weight: bold;
}
.venue-places{
    position: absolute;
    right: 0;
    font-family: arial, sans-serif;
    font-size: 20px;
    top: 0;
    background-color: aliceblue;
    padding: 3px 10px;
    border-radius: 4px;
}
.venue-tag-box {


    width: 300px;
    float: left;
    margin-top: 320px;
    margin-bottom: 20px;
}

.venue-box.expanded .venue-tag-box {
    position: relative;
    top: 320px;
    width: 300px;
    margin-top: 0;
    float: none;
}

.venue-tag.disabled .venue-tag-icon{
    background-color: #ddd;
}

.venue-tag.disabled .venue-tag-title{
    color: #cec7b7;
}

.venue-tag-icon {
    background-color: #98e63c;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    padding-top: 1px;
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}
.venue-tag-title {
    display: inline-block;
    margin-left: 7px;
    font-weight: 600;
    color: #7b746a;
    font-size: 13px;
}
.venue-tag {
    margin-bottom: 7px;
}
.venue-title-expanded{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-right: 130px;
    display: none;
}

.venue-box.expanded .venue-title-expanded{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 26px;
}
.venue-box.expanded .venue-title{
    display: none;
}

.venue-box.expanded .venue-images-box {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}
.venue-box.expanded .venue-images-dots{
    display: none;
}
.venue-box.expanded .venue-places{
    display: none;
}
.venue-places-expanded{
    position: absolute;
    right: 20px;
    font-family: arial, sans-serif;
    font-size: 20px;
    top: 30px;
    background-color: aliceblue;
    padding: 3px 10px;
    border-radius: 4px;
    display: none;
}
.venue-box.expanded .venue-places-expanded{
    display: block;

}
.venue-box.expanded .venue-image{
    width: 33.333%;
    display: inline-block;
    text-align: center;
}
.venue-box.expanded .venue-image img{
    width: 98%;
}
.venue-box.expanded .venue-tag-box{
    top: 10px;
    z-index: 100;
    float: left;

}
.venue-box.expanded .venue-info{
    padding-right: 0;
    margin-top: 10px;
}
.venue-prefix-expanded{
    display: none;
}
.venue-box.expanded .venue-prefix-expanded{
    display: inline-block;
    color: #ababab;
    font-weight: 500;
    padding-right: 7px;
    font-size: 13px;
}
.venue-box.expanded .venue-venue{
    font-size: 15px;
}
.venue-venue:hover{
    text-decoration: underline;
}
.venue-devider {
    margin-bottom: 18px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 2px dashed #e5f3bf;
    display: none;
}
.venue-box.expanded .venue-devider{
    display: block;
}



.subscription-promo-row-box {
    background-color: #fff9c8;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    margin-top: 20px;
    border-top: 4px dashed #FF9800;
    border-bottom: 4px dashed #FF9800;
}
.subscription-promo-row-box .subscription-sms-submit{
    background-color: #FF9800;
    color: #fff;
}
.subscription-promo-row-box .subscription-sms-submit:hover{
    background-color: #e28500;
    color: #fff;
}
.service-owner-image[data-page="CONCERT_HALL"]{
    background-image: url(../img/conhall.jpg);
}

.e-search-bg{
    background-color: #fff;
    border-top: 2px solid rgba(0,0,0,0.2);

}
.e-search-param-dd {
    display: none;

    position: absolute;
    background-color: #fffdee;
    width: calc(100% - 2px);
    left: 0;
    top: 79px;
    border-radius: 0 0 4px 4px;
    z-index: 20;
    border: 1px solid #ccc;
}
.e-search-block {
    /*display: inline-block;*/


    position: relative;
    margin-bottom: 34px;
    cursor: pointer;
}
.e-search-box {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}
.e-search-param-angle-up {
    position: absolute;
    top: 6px;
    right: 12px;
}
.e-search-param-angle-down {
    position: absolute;
    top: 18px;
    right: 12px;
}
.e-search-table td:first-child .e-search-param-box{
    border-radius: 4px 0 0 4px;
}
.e-search-table td:last-child  .e-search-param-box{
    border-radius: 0 4px 4px 0;
}

.e-search-table td:first-child .e-search-param-box{
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

}
.e-search-table td:last-child .e-search-param-box{

    border: 0;
}
.e-search-param-box{
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 12px;
    background-color: #fff;
    padding-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    position: relative;
}
.e-search-param-box:hover {
    background-color: rgb(245, 239, 230);
}

.e-search-block.opened .e-search-param-dd{
    display: block;
}

.e-search-param-dd-item {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.e-search-param-dd-item:hover{
    background-color: #463e38;
    color: #fff;
}
.e-search-param-dd-item:last-child{
    border-bottom: 0;
}
.e-search-block.opened .e-search-param-angle-up,
.e-search-block.opened .e-search-param-angle-down{
    color: #F44336;
}
.e-search-execute {
    height: 60px;
    background-color: #FFEB3B;
    width: 130px;
    border-radius: 4px;
    position: absolute;
    padding-top: 18px;
    box-sizing: border-box;
    right: 0;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
}

.e-search-execute:hover{
    background-color: #fff600;
}

.e-search-width-holder{
    position: relative;
}
.e-search-table{
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.e-search-table td{
    padding: 0;
    border: 0;
}
.e-search-expand {
    color: #fff;
    height: 60px;
    background-color: rgba(96, 125, 139, 0.7);
    width: 190px;
    border-radius: 4px;
    position: absolute;
    padding-top: 19px;
    box-sizing: border-box;
    right: 150px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding-right: 5px;
}
.e-search-expand:hover {
    color: #fff600;
}
.e-search-label {
    text-align: left;
    font-weight: 600;
    margin-bottom: 8px;
}

.e-search-param-label {
    text-align: left;
}
.e-search-pick-param-check {
    height: 22px;
    width: 22px;
    background-color: #f7f7f7;
    border-radius: 4px;
    display: inline-block;
    text-align: left;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}
.e-search-pick-param-title {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}
.e-search-pick-param {
    text-align: left;
}

.e-search-pick-param.checked .e-search-pick-param-check{
    background-color: #a9f300;
}
.e-search-pick-param:hover .e-search-pick-param-check {
    background-color: #fff6bb;
}
.e-search-pick-param.checked:hover .e-search-pick-param-check {
    background-color: #a9f300;
}
.e-search-confirm {
    height: 60px;
    background-color: #FFEB3B;
    width: 130px;
    border-radius: 4px;
    position: absolute;
    padding-top: 18px;
    box-sizing: border-box;
    right: 0;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
}
.e-search-results-count-box {
    position: absolute;
    right: 160px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
}
.e-search-results-count{
    color: red;
    font-size: 20px;
}
.e-search-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    color: #2196F3;
}
.map-search-extended{
    display: none;
}
.map-search-extended.opened{
    display: block;
}

.map-search-extended-toggler{

}
.map-search-extended-toggler {
    position: absolute;
    right: 0;
    bottom: 32px;
    font-weight: 600;
    color: #E91E63;
    border-bottom: 1px dashed;
    background-color: #fff5ff;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 3px;
}
.map-search-extended-toggler:hover {
    color: #9C27B0;
}
.map-res-item-image {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
}
.map-res-item-image img{
    width: 100%;
}

.map-res-item-title {
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-res-item {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 124px;
    /*border-left: 1px solid #ddd;*/
}
.map-box{
    position: absolute;
    padding-left: 300px;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    height: 400px;
}
.map-results-box {
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.map-res-item-info{
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: arial, sans-serif;
    width: 100%;
    padding-left: 94px;
    box-sizing: border-box;
    margin-top: -90px;
    height: 90px;
}
.map-search-rent {
    position: absolute;
    background-color: #8BC34A;
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 3px;
    right: 5px;
    margin-top: 10px;
    bottom: 6px;
    cursor: pointer;
}
.map-search-quick-view {
    position: absolute;
    font-size: 12px;
    color: #2196F3;
    right: 10px;
    bottom: 42px;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
}
.map-search-price {
    position: absolute;
    bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}
.map-search-places {
    font-size: 20px;
    color: #9E9E9E;
}

.chromeScroll::-webkit-scrollbar{
    width: 7px;
}

.chromeScroll::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;
}

.chromeScroll::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.15);
    border-radius: 3px;
}
.chromeScroll::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0,0,0.35);
    border-radius: 3px;
}
.map-search-box {
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.map-search-results-row{
    background-color: #f5f4eb;
    padding-top: 25px;
    padding-bottom: 25px;
}
.eh-modal-holder {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.eh-modal-fader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(96, 125, 139, 0.7);
}
.eh-modal-inner {
    background-color: #fff;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 3px;
    min-height: 200px;
}

.eh-modal-close {
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    color: red;
    cursor: pointer;
}
.eh-modal-scroll {
    height: 100%;
    overflow: auto;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.eh-modal-inner .venue-box{
    border: 0;
}
.fv-1{
    font-size: 24px;
    font-weight: 600;
}
.fv-2{
    font-size: 22px;
    font-weight: 500;
}
.fv-3{
    font-size: 20px;
    font-weight: 400;
}
.fv-4{
    font-size: 18px;
    font-weight: 400;
}
.fv-5{
    font-size: 16px;
}
.fv-6{
    font-size: 14px;
}

.for-venues-box{

}

.for-venues-text-box {
    padding-top: 50px;
    padding-bottom: 100px;

}
.for-venues-box .service-owner-image {
    margin-top: 60px;
}
.h-bg-box {
    height: 470px;
    width: 100%;
    /*position: absolute;*/
    z-index: 1;
    /*background-color: #e0e0dc;*/
    background-color: #f5f4eb;
    /*background-color: #fff;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    top: 0;
}
.h-bg-holder{
    height: 100%;
    width: 100%;
    position: relative;

    /*box-shadow: 0 0 15px;*/
    overflow: hidden;
}
.h-bg-train{
    height: 470px;
}
.h-bg-item{
    height: 100%;
    width: 100%;
    float: left;
    background-position: 50%;
    background-size: cover;
}

.hall-images-dot{
    width: 16px;
    display: inline-block;
    height: 16px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;

}
.hall-images-dots {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 10px;

}
.hall-images-dot:hover{
    background-color: #fff;
}
.hall-images-dot.active{
    background-color: #ffea00;
}

.hall-title{
    padding-top: 59px;
    padding-bottom: 30px;
    padding-right: 190px;
    font-size: 38px;
}
.h-header-box {
    background-color: #fff;
    min-height: 270px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.h-header-places {
    position: absolute;
    right: 0;
    top: 36px;
    background-color: aliceblue;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    padding: 8px 14px 7px 14px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
}
.h-header-type {
    background-color: #fffce1;
    display: inline-block;
    padding: 1px 14px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    color: #795548;
}
.h-header-metro {
    margin-top: 20px;
    margin-bottom: 40px;
}
.h-header-metro .f-hall-metro-item{
    padding-left: 0;
}
.h-header-price {
    position: absolute;
    right: 0;
    bottom: 110px;
    font-size: 30px;
    font-weight: 600;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}
.h-header-rent {
    position: absolute;
    right: 0;
    bottom: 40px;
    height: 50px;
    background-color: #98e63c;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    font-size: 22px;
}
.h-header-rent:hover {
    background-color: #a9f300;
}
.h-body-description {
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 500;
}
.hall-tag-box {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
    border: 1px solid rgba(0,0,0,.07);
}
.h-header-box a.venue-venue{
    margin-left: 7px;
    font-size: 16px;
}
.h-header-address-box {
    margin-top: 7px;
}
.h-header-address {
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 7px;
}
.address-prefix{

}
.h-header-show-map {
    color: #2196F3;
    border-bottom: 1px dashed;
    margin-left: 11px;
    cursor: pointer;
}
.h-header-show-map:hover {
    color: #ff6156;
}
.h-tag-header{
    font-size: 18px;
    font-weight: 400;
    color: #795548;
    margin-bottom: 20px;
}
.h-tag-devider {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    margin-left: -15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.h-info-box{
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #ada697;
    margin-bottom: 8px;
}
.h-info-data{
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-left: 4px;
    color: #607D8B;
}
.h-desc-read-more-box{
    display: block;
    margin-top: 20px;
}
.h-desc-read-more{
    color: #2196F3;
    border-bottom: 1px dashed;
    display: inline-block;
    cursor: pointer;
}
.h-desc-read-more:hover{
    color: #ff6156;
}
.h-gallery-img{
    width: 100%;
}
.h-gallery-img img{
    width: 100%;
    margin-bottom: 14px;
}
.h-gallery-box{
    margin-top: 40px;
}
.h-navigation-box {
    position: fixed;
    z-index: 1;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
    margin-left: -150px;
    margin-top: -34px;
    width: 130px;
}
a.h-navigation-item {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}
a.h-navigation-item:hover{
    color: #ff6156;
}
.h-part-info{
    background-color: #f7f7f7;
}
.h-part-info .uni-title{
    padding-top: 30px;
    padding-bottom: 30px;
}
.h-part-info .venue-images-box{
    position: relative;
}
.h-right-desc {
    padding-left: 330px;
    margin-top: -315px;
    min-height: 330px;
    margin-bottom: 50px;
}
.h-devider{
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}
.h-wide-rent-box{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 190px;
    text-align: center;
}
.h-wide-rent-box .h-header-price,
.h-wide-rent-box .h-header-rent{
    position: relative;
    display: inline-block;
    top: 0;
}
.h-wide-rent-box .h-header-price{
    margin-right: 30px;
}
.tpl-hall .promo-block {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 100px;
}
.h-part-info h4{
    padding-top: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}
.tpl-venue .hall-tag-box {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    width: 210px;
}
.tpl-venue .hall-title{
    padding-right: 250px;

}
.v-info-box-parent {
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: -17px;
    width: 260px;
}
.v-halls-box {
    background-color: #fff8bd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.v-hall-prefix{
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.v-hall-item{
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
    color: #057ede;
}
.v-hall-item-places{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
}
.v-halls-full-box {
    background-color: #e8edf1;

}
.v-halls-full-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
}
.v-hall-index{
    position: absolute;
    left: -100px;
    top: -22px;
    font-size: 90px;
    font-weight: 600;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.2);
}

.eh-dialog-holder {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.eh-dialog-fader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(96, 125, 139, 0.7);
}
.eh-dialog-inner {
    background-color: #fff;
    position: relative;
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 3px;
    min-height: 200px;
}

.eh-dialog-close {
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    color: red;
    cursor: pointer;
}
.eh-dialog-scroll {
    height: 100%;
    overflow: auto;
    position: relative;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.eh-dialog-inner .venue-box{
    border: 0;
}
.eh-dialog-title {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-left: 10px;
    font-weight: 500;
    font-size: 17px;
}
.eh-dialog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.eh-dialog-button {
    display: inline-block;
    background-color: #f7f5e5;
    padding: 9px 13px 8px 13px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}
.eh-dialog-button:hover{
    background-color: #f7eebf;
}
.eh-dialog-content {
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
    text-align: center;
    padding-bottom: 92px;
}
.tpl-new-venue .logo{
    margin-left: 40px;
}
.tpl-new-venue .header {
    border-bottom: 2px solid #8BC34A;
}
.l-container {
    margin-left: 40px;
    padding-bottom: 100px;
}
.tpl-new-venue-2 .l-container{
    padding-bottom: 0;
    padding-left: 174px;
}
.eh-c-box label {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin-right: 10px;
}
.eh-c-box .eh-c-control {
    width: 330px;
    display: inline-block;
    vertical-align: top;
}
.step-hl{
    padding-top: 40px;
    padding-bottom: 10px;
}
.eh-c-sub {
    font-weight: 400;
    font-size: 12px;
}

.dropzone {
    width: 544px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
}
.eh-c-box label.eh-wide-label{
    width: 540px;
    margin-bottom: 12px;

}
.formWrapper{
    position: absolute;
    left: 570px;
    width: 380px;
}
.eh-c-control[data-column="venue_address"]{
    width: 330px;
    padding-left: 10px!important;
}
.suggestions-wrapper{
    position: relative;
    z-index: 1000;
}
.suggestions-suggestions{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    margin-top: 3px;
    border-radius: 5px;

}
.suggestions-hint{
    padding: 3px 10px;
    color: #888888;

}
.suggestions-value{
    padding: 3px 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.suggestions-value:hover{
    background-color: aliceblue;
}
.datepicker{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.eh-c-box {
    margin-bottom: 12px;
}
.eh-c-box textarea.eh-c-control {
    width: 544px;
}
.mce-tinymce{
    width: 544px!important;
}
.tpl-new-venue .venue-tag-box {
    margin-top: 30px;
    background-color: #fff;
    padding: 40px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}
.yandex_map{
    width: 100%;
    height: 347px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-sizing: border-box;
}

.tpl-new-venue .venue-tag-icon i{
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.tpl-new-venue .venue-tag{
    background-color: #eee;
}
.tpl-new-venue .venue-tag {
    background-color: #f7f7f7;
    padding: 4px 10px;
    border-radius: 3px;
}
.tpl-new-venue .venue-tag.disabled .venue-tag-title {
    color: #777;
}
.venue-tag{
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
}
.tpl-new-venue .venue-tag:hover{
    border: 1px solid rgba(0,0,0,0.15);
}
.step-save {
    position: absolute;
    left: 830px;
    width: 160px;
    text-align: center;
    background-color: aliceblue;
    height: 70px;
    box-sizing: border-box;
    padding-top: 24px;
    top: 27px;
    border-radius: 5px;
    cursor: pointer;
}

.step-save.enabled {
    background-color: #a9f300;
}

.step-save.enabled:hover {
    background-color: #69ee43;
}

.step-save:hover {
    background-color: #a9f300;
}


.step-edit{
    position: absolute;
    left: 650px;
    width: 160px;
    text-align: center;
    background-color: aliceblue;
    height: 70px;
    box-sizing: border-box;
    padding-top: 24px;
    top: 27px;
    border-radius: 5px;
    cursor: pointer;
}

.step-edit.enabled {
    background-color: #a9f300;
}

.step-edit.enabled:hover {
    background-color: #69ee43;
}

.step-edit:hover {
    background-color: #a9f300;
}


.eh-c-value {
    display: inline-block;
    width: 330px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.eh-c-value.eh-c-value-text {
    font-size: 13px;
    font-weight: normal;
    color: #333;
    line-height: 16px;
    width: 544px;
}
.step-2-venue-sidebar-box {
    margin-left: -40px;
    left: 0;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 15px;
    width: 190px;
    padding-bottom: 20px;
    position: absolute;
}

.tpl-new-venue-2 .step-2-hall-add{
    background-color: #fdfcf8;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 50px;
}
.tpl-new-venue-2 .site-content{
    background-color: #f7f7f7;
}
.s2-field{
    font-size: 13px;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 3px;
}
.s2-name {
    font-weight: 600;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.s2-image img{
    width: 100%;
}
.s2-description {
    font-size: 11px;
    color: #888;
    line-height: 14px;
    margin-top: 11px;
    margin-bottom: 20px;
}
.s2-options .venue-tag {
    padding: 0;
    border: 0!important;
    margin-bottom: 0;
}
.s2-options .venue-tag-icon {
    height: 18px;
    width: 18px;
    font-size: 11px;
}

.s2-options .venue-tag-title{
    font-size: 12px;
    margin-left: 4px;
    font-weight: 500;
}
.s2-modify-venue {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #CDDC39;
    margin-bottom: 20px;
    cursor: pointer;

}
.s2-modify-venue:hover {
    background-color: #a9f300;
}
.step-2-hall-add {
    vertical-align: top;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
}
.eh-c-set-same-address{
    color: #03A9F4;
    font-size: 11px;
    display: inline-block;
    border-bottom: 1px dashed;
    cursor: pointer;
}
.eh-c-set-same-address:hover{
    color: #3e7cf4;
}
input.eh-c-control[type="checkbox"] {
    height: 24px;
    width: 24px;
}
.h-scheme-holder {
    border: 1px solid rgba(0,0,0,0.05);
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: #fff;
}



.h-scheme-holder img{
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.06);
    cursor: pointer;
}
.h-scheme-holder img:hover{
    box-shadow: 0 0 5px rgba(62, 124, 244, 0.5);
}
.tpl-new-venue-2 .hall-tag-box{
    width: 544px;
    padding-right: 25px;
    border: 1px solid rgba(0,0,0,0.15);
    box-sizing: border-box;
    border-radius: 5px;
}
.step-2-hall-add .step-save {
    position: relative;
    left: 0;
    background-color: #a9f300;
}
.step-2-hall-add .step-save:hover {
    background-color: #69ee43;
}

.step-3-halls .step-save {
    position: relative;
    left: 0;
    background-color: #a9f300;
}
.step-3-halls .step-save:hover {
    background-color: #69ee43;
}

.eh-hall-item-box {
    background-color: #fff;
    margin-right: 30px;
    box-shadow: 0 10px 15px rgba(96, 125, 139, 0.21);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-bottom: 23px;
}
.eh-hall-item-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 23px;
}
.eh-hall-item-places {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 20px;
    display: inline-block;
    font-size: 17px;
}
.eh-hall-item-price {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}
.eh-hall-item-modify {
    float: right;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
}
.eh-hall-item-modify:hover {
    color: #2196F3;
}
.step-3-halls {
    min-height: 670px;
}